.App {
  text-align: center;
  background: black;
  height: 100vh;
}

.mainContent {
  background: black;
}

.field {
  display: flex;
  flex-direction: column;
}

.lineup {
  display: flex;
}

.mainContent {
  padding: 20px;
  padding-top: 10px;
}

.userForm {
  padding-left: 200px;
  padding-right: 200px;
}

.userNameField {
  display: flex;
  justify-content: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.cardContainer {
  align-items: stretch;
}

.canvas-container {
  height: 60vh;
}

.page-item .page-link {
  background: grey;
}

.player-table {

  position: relative;
}

.table {

  text-align: left;

}

.overlay {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(241, 241, 241, 0.1); 
}

.spinner {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
}