.App {
  text-align: center;
  background: black;
  height: 100vh;
}


.field {
  display: flex;
  flex-direction: column;
}

.lineup {
  display: flex;
}

.mainContent {
  padding: 50px;
  padding-top: 10px;
}

.userForm {
  padding-left: 200px;
  padding-right: 200px;
}

.userNameField {
  display: flex;
  justify-content: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
